<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>About</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="intro">
            <img src="/images/JoshuaWalker_260327-3.jpg" alt="Picture of Josh">
            <div>
                <p>Hello there! I'm one of the many Josh's you'll have the pleasure of interacting with throughout your life. I'm a junior at BYU-Idaho studying <strong>Software Engineering</strong> with an emphasis in <strong>Full Stack Development</strong>. Here are some fun facts about me!</p>
                <ul>
                    <li>I love watching movies (<i>Speed Racer</i> is #1)</li>
                    <li>Growing up I learned how to play the piano, trombone, and steel drums</li>
                    <li>One of my favorite hobbies is listening to entire albums while running and ranking the tracks from best to worst.</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>